@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: monospace;
}

$body_padding: 16px;

body {
	margin: 0;
	padding: $body_padding;
}

.ly_main {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - (#{$body_padding} * 2));
}


.bl_display {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 16px;

	&_inner {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	&_textArea {
		flex: 1 1 auto;
		width: 100%;
		padding: 16px;
		background-color: rgb(5, 33, 49);
		font-size: 18px;
		color: #FFF;
	}
}


.bl_keyBoard {
	$bg: rgb(58, 58, 58);
	$size: 64px;
	$modifier: 1.3125;
	$eject: 1.75;
	$shift: 1.9375;
	$space: 3.875;
	$margin: 8px;
	$r: 8px;

	width: fit-content;
	margin: 0 auto;

	&_inner {
		width: fit-content;
		padding: 8px;
		border-radius: $r;
		background-color: $bg;
	}

	&_row {
		display: flex;
		margin-right: - $margin;
		margin-bottom: $margin;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_key {
		width: $size;
		height: $size;
		margin-right: $margin;
		padding: 4px;
		border-radius: $r;
		background-color: #FFF;

		&.is_active {
			background-color: rgb(29, 107, 133);
			color: #FFF;
		}

		&.bl_keyBoard_key__modifier {
			width: $size * $modifier;
		}

		&.bl_keyBoard_key__eject {
			width: $size * $eject;
		}

		&.bl_keyBoard_key__enter {
			position: relative;
			width: $size * $eject;
			border-radius: $r $r 0 $r;

			&::after {
				content: "";
				position: absolute;
				top: 100%;
				right: 0;
				background-color: inherit;
				width: $size * $modifier + 8px;
				height: $size + 8px;
				border-radius: 0 0 $r $r;
			}
		}

		&.bl_keyBoard_key__shift {
			width: $size * $shift;
		}

		&.bl_keyBoard_key__space {
			width: $size * $space;
		}

		&.bl_keyBoard_key__container {
			display: flex;
			flex-direction: column;
			padding: 0;
			background-color: $bg;
		}

		&.bl_keyBoard_key__half {
			height: $size / 2;

			&:first-child {
				margin-bottom: 1px;
				border-radius: $r $r 0 0;
			}

			&:last-child {
				margin-top: 1px;
				border-radius: 0 0 $r $r;
			}
		}

		&.bl_keyBoard_key[data-key_name=ArrowLeft],
		&.bl_keyBoard_key[data-key_name=ArrowRight],
		&.bl_keyBoard_key[data-key_name=ArrowUp],
		&.bl_keyBoard_key[data-key_name=ArrowDown] {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}